# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

.contentlayer
.env
public/ata-multisite/images/global/world-97864_960_720.png:Zone.Identifier
public/ata-multisite/images/global/usa-1960922_960_720.jpgZone.Identifier
public/ata-multisite/images/global/usa-1960922_960_720.jpg:Zone.Identifier
public/ata-multisite/images/global/international-1751293_960_720.png:Zone.Identifier
public/ata-multisite/images/global/australia-28586_960_720.pngZone.Identifier
public/ata-multisite/images/global/australia-28586_960_720.png:Zone.Identifier
*.Identifier
